{% extends 'base.html' %}
{% load static %}
{% block title %}
Home{% endblock %}
{% block content %}
<div style="width:100%;height:500px;"><img style="width:100%;height:100%;" src="{% static 'images/док.jpg' %}" ></div>
<h1 class="text-capitalize font-weight-bold" style="padding-top: 5px;" align="center">Our Products</h1>
<div class="container">
  <div class="row">
  	{% for i in products %}
  	<div class="col-9 mx-auto col-md-6 col-lg-4">
  		<div class="card mb-4">
        <div class="p-4"><a href="{{i.get_url}}"><img class="card-img-top" src="{{i.image.url}}" alt="{{i.name}}"></a></div>
  			

			<div class="card-footer d-flex justify-content-between">
     <p>{{i.name}}</p>
     <p>{{i.price}}$</p>
      </div>
  		</div>
  	</div>
  	{% endfor %}
    
</div>
 
</div>
{% endblock %}